In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [3]:
sheet1 = pd.read_excel('locust_data_2018.xlsx')
sheet2 = pd.read_excel('locust_data_2019.xlsx')
sheet3 = pd.read_excel('locust_data_2020.xlsx')

In [4]:
df = pd.concat([sheet1, sheet2, sheet3], ignore_index=True)

In [5]:
df.head()

,OBJECTID,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Precipitation (mm),Soil Moisture (m^3/m^3),NDVI
0,22277,18.112778,38.310833,292.287170,0.010483,3.106655,0.000006,0.115808,0.076148
1,22278,17.846667,38.399722,289.855804,0.011615,3.312868,0.000000,0.147779,NaN
2,22279,17.819722,38.383889,293.245087,0.009486,2.611777,0.000000,0.159464,0.114986
3,22280,18.208333,38.162500,300.421417,0.004901,0.897066,0.000000,0.099460,0.208106
4,22281,18.208333,38.162500,300.421417,0.004901,0.897066,0.000000,0.099460,0.208106

In [6]:
columns_to_delete = [
     'Precipitation (mm)']

df = df.drop(columns=columns_to_delete)

In [7]:
df.head()

,OBJECTID,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
0,22277,18.112778,38.310833,292.287170,0.010483,3.106655,0.115808,0.076148
1,22278,17.846667,38.399722,289.855804,0.011615,3.312868,0.147779,NaN
2,22279,17.819722,38.383889,293.245087,0.009486,2.611777,0.159464,0.114986
3,22280,18.208333,38.162500,300.421417,0.004901,0.897066,0.099460,0.208106
4,22281,18.208333,38.162500,300.421417,0.004901,0.897066,0.099460,0.208106

In [8]:
df.describe()

,OBJECTID,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
count,10564.000000,10564.000000,10564.000000,10564.000000,10564.000000,10564.000000,6250.000000,9772.000000
mean,32206.896725,14.466797,50.842013,291.368632,0.007168,6.406212,0.144638,0.220906
std,8152.249899,10.564190,15.018523,6.861920,0.003672,3.595506,0.073572,0.155135
min,22277.000000,-4.254444,6.022500,263.044342,0.000299,0.069528,0.020000,-1.000000
25%,24938.750000,4.766667,37.716667,289.115616,0.004069,3.699462,0.084560,0.113214
50%,29161.500000,10.724722,43.752083,291.695511,0.005791,5.987664,0.123242,0.185345
75%,39481.250000,26.427986,70.919444,294.421234,0.011175,8.286240,0.182478,0.297100
max,48211.000000,34.700000,83.281389,308.779327,0.016105,24.668236,0.379791,1.000000

In [9]:
df = df.drop(columns='OBJECTID')

In [10]:
df.dropna(subset=['NDVI'], inplace=True)

In [11]:
df.dropna(subset=['Soil Moisture (m^3/m^3)'], inplace=True)

In [12]:
df.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000
mean,8.014825,41.046053,292.001167,0.005061,5.999633,0.144128,0.238687
std,6.246411,5.372053,8.170564,0.002183,3.073645,0.073390,0.163519
min,-3.329444,6.022500,264.131927,0.000660,0.078579,0.020000,-0.059039
25%,2.882917,37.100000,285.707214,0.003630,3.573925,0.084601,0.122453
50%,7.372500,40.055833,293.383423,0.004703,5.926208,0.122749,0.202493
75%,10.633542,44.018889,297.872009,0.005913,8.168926,0.181639,0.324231
max,32.600000,81.538611,308.779327,0.016105,22.793983,0.377178,1.000000

In [13]:
result1 = df[df['Soil Moisture (m^3/m^3)'].isna()]
df.shape

(5614, 7)

In [14]:
original=df

In [15]:
# clean_df = df
df.describe()
df.head()
# combined=clean_df
columns_to_delete = [
     'Latitude (degrees)','Longitude (degrees)']

df = df.drop(columns=columns_to_delete)

In [16]:
import pandas as pd
import numpy as np
noisy_df = pd.DataFrame()
mean_param = np.mean(df['Temperature (K)'])
std_dev_param = np.std(df['Temperature (K)'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(df))
scaled_values = random_values / 100
noisy_temp = df['Temperature (K)'] + scaled_values
noisy_df['Temperature (K)' + '_noisy'] = noisy_temp




import pandas as pd
import numpy as np
random_values = np.random.uniform(low=-1000, high=1000, size=len(df))
scaled_values = random_values / 250000
noisy_temp = df['Specific Humidity'] + scaled_values
noisy_temp = np.maximum(noisy_temp, 0)
noisy_df['Specific Humidity_noisy'] = noisy_temp





import pandas as pd
import numpy as np
# noisy_df = pd.DataFrame()
mean_param = np.mean(df['Wind Speed (m/s)'])
std_dev_param = np.std(df['Wind Speed (m/s)'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(df))
scaled_values = random_values / 125
noisy_temp = df['Wind Speed (m/s)'] + scaled_values
noisy_temp = np.maximum(noisy_temp,0)
noisy_df['Wind Speed (m/s)' + '_noisy'] = noisy_temp





import pandas as pd
import numpy as np
# noisy_df = pd.DataFrame()
mean_param = np.mean(df['Soil Moisture (m^3/m^3)'])
std_dev_param = np.std(df['Soil Moisture (m^3/m^3)'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(df))
scaled_values = random_values / 12500
noisy_temp = df['Soil Moisture (m^3/m^3)'] + scaled_values
noisy_temp = np.maximum(noisy_temp,0)
noisy_df['Soil Moisture (m^3/m^3)' + '_noisy'] = noisy_temp





import pandas as pd
import numpy as np
# noisy_df = pd.DataFrame()
mean_param = np.mean(df['NDVI'])
std_dev_param = np.std(df['NDVI'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(df))
scaled_values = random_values / 1000
noisy_temp = df['NDVI'] + scaled_values
noisy_temp=np.minimum(noisy_temp,1)
noisy_df['NDVI' + '_noisy'] = noisy_temp

In [17]:
noisy_df.describe()

,Temperature (K)_noisy,Specific Humidity_noisy,Wind Speed (m/s)_noisy,Soil Moisture (m^3/m^3)_noisy,NDVI_noisy
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000
mean,292.084145,0.005085,6.338537,0.144321,0.213927
std,10.079304,0.003143,5.012714,0.086475,0.568221
min,260.472529,0.000000,0.000000,0.000000,-0.992562
25%,285.143698,0.002727,1.817090,0.081025,-0.267946
50%,292.330736,0.004894,5.889577,0.133114,0.223207
75%,299.542128,0.007064,10.084257,0.197365,0.741995
max,317.117977,0.019120,27.078834,0.428893,1.000000

In [18]:
df.describe()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000
mean,292.001167,0.005061,5.999633,0.144128,0.238687
std,8.170564,0.002183,3.073645,0.073390,0.163519
min,264.131927,0.000660,0.078579,0.020000,-0.059039
25%,285.707214,0.003630,3.573925,0.084601,0.122453
50%,293.383423,0.004703,5.926208,0.122749,0.202493
75%,297.872009,0.005913,8.168926,0.181639,0.324231
max,308.779327,0.016105,22.793983,0.377178,1.000000

In [19]:
df.head()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
0,292.287170,0.010483,3.106655,0.115808,0.076148
2,293.245087,0.009486,2.611777,0.159464,0.114986
3,300.421417,0.004901,0.897066,0.099460,0.208106
4,300.421417,0.004901,0.897066,0.099460,0.208106
5,299.409058,0.006244,0.541996,0.142801,0.125081

In [20]:
noisy_df.rename(
    columns={"Temperature (K)_noisy": "Temperature (K)"}, inplace=True)
noisy_df.rename(
    columns={"Specific Humidity_noisy": "Specific Humidity"}, inplace=True)
noisy_df.rename(
    columns={"Wind Speed (m/s)_noisy": "Wind Speed (m/s)"}, inplace=True)
noisy_df.rename(columns={"NDVI_noisy": "NDVI"}, inplace=True)
# noisy_df.rename(columns={"NDVI_noisy": "NDVI"}, inplace=True)

In [21]:
noisy_df.rename(columns={"Soil Moisture (m^3/m^3)_noisy": "Soil Moisture (m^3/m^3)"}, inplace=True)

In [22]:
noisy_df.head()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
0,298.817725,0.010267,0.000000,0.101312,-0.571613
2,288.181017,0.007884,2.077684,0.082449,0.956688
3,299.921409,0.005099,0.000000,0.147542,0.784249
4,295.170408,0.005355,0.000000,0.116172,0.955460
5,303.441386,0.005943,0.000000,0.197506,0.420749

In [23]:
df.head()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
0,292.287170,0.010483,3.106655,0.115808,0.076148
2,293.245087,0.009486,2.611777,0.159464,0.114986
3,300.421417,0.004901,0.897066,0.099460,0.208106
4,300.421417,0.004901,0.897066,0.099460,0.208106
5,299.409058,0.006244,0.541996,0.142801,0.125081

In [24]:
# Add the "result" column with values
df["result"] = 1
noisy_df["result"] = 0

# Combine the dataframes and shuffle
combined_df = pd.concat([df, noisy_df], ignore_index=True)
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

combined_df.head()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,289.700192,0.006736,4.431774,0.262350,-0.625465,0
1,290.292725,0.004969,12.202032,0.105131,0.403029,1
2,285.357811,0.009371,1.717990,0.057009,0.760329,0
3,293.898468,0.005521,8.967904,0.132155,0.018701,1
4,289.828955,0.007425,4.444039,0.185979,1.000000,0

In [25]:
combined_df.describe()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000
mean,292.042656,0.005073,6.169085,0.144224,0.226307,0.500000
std,9.174392,0.002706,4.161067,0.080197,0.418264,0.500022
min,260.472529,0.000000,0.000000,0.000000,-0.992562,0.000000
25%,285.431426,0.003322,3.032022,0.083253,0.048467,0.000000
50%,293.094818,0.004776,5.919838,0.128649,0.206032,0.500000
75%,298.642574,0.006402,8.666657,0.189000,0.447755,1.000000
max,317.117977,0.019120,27.078834,0.428893,1.000000,1.000000

In [26]:
df.describe()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0
mean,292.001167,0.005061,5.999633,0.144128,0.238687,1.0
std,8.170564,0.002183,3.073645,0.073390,0.163519,0.0
min,264.131927,0.000660,0.078579,0.020000,-0.059039,1.0
25%,285.707214,0.003630,3.573925,0.084601,0.122453,1.0
50%,293.383423,0.004703,5.926208,0.122749,0.202493,1.0
75%,297.872009,0.005913,8.168926,0.181639,0.324231,1.0
max,308.779327,0.016105,22.793983,0.377178,1.000000,1.0

In [27]:



features_to_use = [
    'Temperature (K)', 'Specific Humidity', 'Wind Speed (m/s)', 'NDVI']
X = combined_df[features_to_use]
y = combined_df['result']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

X_train, X_cv, y_train, y_cv = train_test_split(
    X_train, y_train, test_size=0.25, random_state=42)  

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_cv_scaled = scaler.transform(X_cv)
X_test_scaled = scaler.transform(X_test)

param_grid = {
    'C': [0.1, 1, 10],
    'gamma': [0.1, 1, 'auto'],
}

svc = SVC(kernel='rbf')
grid_search = GridSearchCV(estimator=svc, param_grid=param_grid, cv=3, n_jobs=-1)
grid_search.fit(X_train_scaled, y_train)
best_params = grid_search.best_params_
best_score = grid_search.best_score_
best_clf = grid_search.best_estimator_
y_cv_pred = best_clf.predict(X_cv_scaled)
cv_accuracy = accuracy_score(y_cv, y_cv_pred)
y_test_pred = best_clf.predict(X_test_scaled)
test_accuracy = accuracy_score(y_test, y_test_pred)

print(f"Best Parameters: {best_params}")
print(f"Best Cross-Validation Score: {best_score:.4f}")
print(f"Cross-Validation Accuracy: {cv_accuracy:.4f}")
print(f"Test Accuracy on test data: {test_accuracy:.4f}")

combined_df.head()

Best Parameters: {'C': 10, 'gamma': 1}
Best Cross-Validation Score: 0.9059
Cross-Validation Accuracy: 0.8980
Test Accuracy on test data: 0.8976

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,289.700192,0.006736,4.431774,0.262350,-0.625465,0
1,290.292725,0.004969,12.202032,0.105131,0.403029,1
2,285.357811,0.009371,1.717990,0.057009,0.760329,0
3,293.898468,0.005521,8.967904,0.132155,0.018701,1
4,289.828955,0.007425,4.444039,0.185979,1.000000,0

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
features_to_use = [
    'Temperature (K)', 'Specific Humidity', 'Wind Speed (m/s)', 'NDVI']
X = combined_df[features_to_use]
y = combined_df['result']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
mlp_clf = MLPClassifier(hidden_layer_sizes=(100, 50), max_iter=1000, random_state=42)
mlp_clf.fit(X_train_scaled, y_train)
y_pred = mlp_clf.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy using Neural Networks: {accuracy:.4f}")

Test Accuracy using Neural Networks: 0.9020

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
rf_clf.fit(X_train_scaled, y_train)
y_pred = rf_clf.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)

print(f"Test Accuracy when Random Forest applied: {accuracy:.4f}")

Test Accuracy when Random Forest applied: 0.9034

In [30]:
df.head()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,292.287170,0.010483,3.106655,0.115808,0.076148,1
2,293.245087,0.009486,2.611777,0.159464,0.114986,1
3,300.421417,0.004901,0.897066,0.099460,0.208106,1
4,300.421417,0.004901,0.897066,0.099460,0.208106,1
5,299.409058,0.006244,0.541996,0.142801,0.125081,1

In [31]:
combined_df.shape

(11228, 6)

In [32]:
original.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000
mean,8.014825,41.046053,292.001167,0.005061,5.999633,0.144128,0.238687
std,6.246411,5.372053,8.170564,0.002183,3.073645,0.073390,0.163519
min,-3.329444,6.022500,264.131927,0.000660,0.078579,0.020000,-0.059039
25%,2.882917,37.100000,285.707214,0.003630,3.573925,0.084601,0.122453
50%,7.372500,40.055833,293.383423,0.004703,5.926208,0.122749,0.202493
75%,10.633542,44.018889,297.872009,0.005913,8.168926,0.181639,0.324231
max,32.600000,81.538611,308.779327,0.016105,22.793983,0.377178,1.000000

In [33]:

mean_param = np.mean(original['Latitude (degrees)'])
std_dev_param = np.std(original['Latitude (degrees)'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(original))
scaled_values = random_values / 2229.654
noisy_data = original['Latitude (degrees)'] + scaled_values
noisy_df['Noisy_Latitude']=noisy_data
noisy_df.describe()


mean_param = np.mean(original['Longitude (degrees)'])
std_dev_param = np.std(original['Longitude (degrees)'], ddof=1)
random_values = np.random.uniform(low=-1000, high=1000, size=len(original))
scaled_values = random_values / 2229.654
noisy_data = original['Longitude (degrees)'] + scaled_values
noisy_df['Noisy_Longitude']=noisy_data
noisy_df.describe()

noisy_df.rename(columns={"Noisy_Latitude": "Latitude (degrees)"}, inplace=True)
noisy_df.rename(columns={"Noisy_Longitude": "Longitude (degrees)"}, inplace=True)

In [34]:
noisy_df.describe()

,Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result,Latitude (degrees),Longitude (degrees)
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0,5614.000000,5614.000000
mean,292.084145,0.005085,6.338537,0.144321,0.213927,0.0,8.015178,41.042855
std,10.079304,0.003143,5.012714,0.086475,0.568221,0.0,6.249943,5.379652
min,260.472529,0.000000,0.000000,0.000000,-0.992562,0.0,-3.476629,6.343184
25%,285.143698,0.002727,1.817090,0.081025,-0.267946,0.0,2.872888,37.138503
50%,292.330736,0.004894,5.889577,0.133114,0.223207,0.0,7.483739,40.125687
75%,299.542128,0.007064,10.084257,0.197365,0.741995,0.0,10.597744,43.935321
max,317.117977,0.019120,27.078834,0.428893,1.000000,0.0,32.455182,81.363278

In [35]:

column_order = [
    'Latitude (degrees)', 'Longitude (degrees)',
    'Temperature (K)', 'Specific Humidity', 'Wind Speed (m/s)',
    'Soil Moisture (m^3/m^3)', 'NDVI', 'result'
]
noisy_df = noisy_df[column_order]
noisy_df.head()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,18.214569,38.461111,298.817725,0.010267,0.000000,0.101312,-0.571613,0
2,17.799980,38.193242,288.181017,0.007884,2.077684,0.082449,0.956688,0
3,17.915444,37.757818,299.921409,0.005099,0.000000,0.147542,0.784249,0
4,18.139176,38.012776,295.170408,0.005355,0.000000,0.116172,0.955460,0
5,24.525131,38.481311,303.441386,0.005943,0.000000,0.197506,0.420749,0

In [36]:
noisy_df.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0
mean,8.015178,41.042855,292.084145,0.005085,6.338537,0.144321,0.213927,0.0
std,6.249943,5.379652,10.079304,0.003143,5.012714,0.086475,0.568221,0.0
min,-3.476629,6.343184,260.472529,0.000000,0.000000,0.000000,-0.992562,0.0
25%,2.872888,37.138503,285.143698,0.002727,1.817090,0.081025,-0.267946,0.0
50%,7.483739,40.125687,292.330736,0.004894,5.889577,0.133114,0.223207,0.0
75%,10.597744,43.935321,299.542128,0.007064,10.084257,0.197365,0.741995,0.0
max,32.455182,81.363278,317.117977,0.019120,27.078834,0.428893,1.000000,0.0

In [37]:
original["result"]=1

In [38]:
original.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0
mean,8.014825,41.046053,292.001167,0.005061,5.999633,0.144128,0.238687,1.0
std,6.246411,5.372053,8.170564,0.002183,3.073645,0.073390,0.163519,0.0
min,-3.329444,6.022500,264.131927,0.000660,0.078579,0.020000,-0.059039,1.0
25%,2.882917,37.100000,285.707214,0.003630,3.573925,0.084601,0.122453,1.0
50%,7.372500,40.055833,293.383423,0.004703,5.926208,0.122749,0.202493,1.0
75%,10.633542,44.018889,297.872009,0.005913,8.168926,0.181639,0.324231,1.0
max,32.600000,81.538611,308.779327,0.016105,22.793983,0.377178,1.000000,1.0

In [39]:
noisy_df.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0
mean,8.015178,41.042855,292.084145,0.005085,6.338537,0.144321,0.213927,0.0
std,6.249943,5.379652,10.079304,0.003143,5.012714,0.086475,0.568221,0.0
min,-3.476629,6.343184,260.472529,0.000000,0.000000,0.000000,-0.992562,0.0
25%,2.872888,37.138503,285.143698,0.002727,1.817090,0.081025,-0.267946,0.0
50%,7.483739,40.125687,292.330736,0.004894,5.889577,0.133114,0.223207,0.0
75%,10.597744,43.935321,299.542128,0.007064,10.084257,0.197365,0.741995,0.0
max,32.455182,81.363278,317.117977,0.019120,27.078834,0.428893,1.000000,0.0

In [40]:
final_df = pd.concat([original, noisy_df], ignore_index=True)
final_df = final_df.sample(frac=1).reset_index(drop=True)

In [41]:
final_df.head(10)

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,11.362778,39.986667,300.348236,0.004776,2.535841,0.078765,0.587164,1
1,10.421540,48.795817,283.735328,0.004240,10.140989,0.150615,0.741670,0
2,2.596845,35.317507,285.952804,0.008781,5.582882,0.186714,-0.173762,0
3,15.483333,44.400000,304.433258,0.005931,1.593060,0.092000,0.153550,1
4,9.372222,43.811111,299.740906,0.005199,8.444405,0.057695,0.045196,1
5,1.310446,37.007968,293.955446,0.002723,0.300757,0.244724,1.000000,0
6,2.904167,35.263889,293.202240,0.006132,9.316402,0.179989,0.264061,1
7,10.208889,50.244167,283.342255,0.002144,6.947520,0.104761,0.150362,1
8,2.630456,36.156988,288.598452,0.000000,3.343369,0.224710,1.000000,0
9,9.514002,42.685884,298.520158,0.000835,7.905327,0.050753,-0.306575,0

In [42]:
final_df.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000,11228.000000
mean,8.015001,41.044454,292.042656,0.005073,6.169085,0.144224,0.226307,0.500000
std,6.247899,5.375614,9.174392,0.002706,4.161067,0.080197,0.418264,0.500022
min,-3.476629,6.022500,260.472529,0.000000,0.000000,0.000000,-0.992562,0.000000
25%,2.876302,37.126112,285.431426,0.003322,3.032022,0.083253,0.048467,0.000000
50%,7.431806,40.090972,293.094818,0.004776,5.919838,0.128649,0.206032,0.500000
75%,10.616411,43.966666,298.642574,0.006402,8.666657,0.189000,0.447755,1.000000
max,32.600000,81.538611,317.117977,0.019120,27.078834,0.428893,1.000000,1.000000

In [43]:
original.describe()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
count,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.000000,5614.0
mean,8.014825,41.046053,292.001167,0.005061,5.999633,0.144128,0.238687,1.0
std,6.246411,5.372053,8.170564,0.002183,3.073645,0.073390,0.163519,0.0
min,-3.329444,6.022500,264.131927,0.000660,0.078579,0.020000,-0.059039,1.0
25%,2.882917,37.100000,285.707214,0.003630,3.573925,0.084601,0.122453,1.0
50%,7.372500,40.055833,293.383423,0.004703,5.926208,0.122749,0.202493,1.0
75%,10.633542,44.018889,297.872009,0.005913,8.168926,0.181639,0.324231,1.0
max,32.600000,81.538611,308.779327,0.016105,22.793983,0.377178,1.000000,1.0

In [44]:
final_df.head()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,result
0,11.362778,39.986667,300.348236,0.004776,2.535841,0.078765,0.587164,1
1,10.421540,48.795817,283.735328,0.004240,10.140989,0.150615,0.741670,0
2,2.596845,35.317507,285.952804,0.008781,5.582882,0.186714,-0.173762,0
3,15.483333,44.400000,304.433258,0.005931,1.593060,0.092000,0.153550,1
4,9.372222,43.811111,299.740906,0.005199,8.444405,0.057695,0.045196,1

In [45]:
features_to_use = [
    'Temperature (K)', 'Specific Humidity', 'Wind Speed (m/s)', 'NDVI']
X = final_df[features_to_use]
y = final_df['result']

X_scaled = scaler.transform(X)
y_pred_SVM = best_clf.predict(X_scaled)
test_accuracy2 = accuracy_score(y, y_pred_SVM)
test_accuracy2

0.9175276095475596

In [46]:
final_df['Predicted Result'] = y_pred_SVM
final_df.rename(columns={"result": "Actual result"}, inplace=True)

In [47]:
accuracy = accuracy_score(final_df['Actual result'], final_df['Predicted Result'])
accuracy

0.9175276095475596

In [48]:
final_df.head()

,Latitude (degrees),Longitude (degrees),Temperature (K),Specific Humidity,Wind Speed (m/s),Soil Moisture (m^3/m^3),NDVI,Actual result,Predicted Result
0,11.362778,39.986667,300.348236,0.004776,2.535841,0.078765,0.587164,1,1
1,10.421540,48.795817,283.735328,0.004240,10.140989,0.150615,0.741670,0,0
2,2.596845,35.317507,285.952804,0.008781,5.582882,0.186714,-0.173762,0,0
3,15.483333,44.400000,304.433258,0.005931,1.593060,0.092000,0.153550,1,1
4,9.372222,43.811111,299.740906,0.005199,8.444405,0.057695,0.045196,1,1

In [49]:
final_df.to_csv('output.csv', index=False)